/*orderInput*/
.order-form{
    width: fit-content;
    margin: auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35)
}

.order-complete{
    width: fit-content;
    margin: auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35)
}

.order-text{
text-align: left;
}

.order-form-table th{
    width: 300px;
    text-align: left;
    background-color: #EEEEEE;
}

.order-form-table td{
    background-color: white;
    text-align: left;
    padding: 10px;
}

table, td ,th{
    border-collapse: collapse;
    border:solid 1px #333;
    padding: 3px;
}

.item-form-table{
    margin: auto;
}

button{
    border: none; //デフォルトの枠線を削除。
    width: auto;
    padding:0;
    margin:0;
    background:none;
    line-height:0;
    overflow:visible;
    cursor:pointer;
    vertical-align: middle;
}

button:disabled {
    cursor: not-allowed;
}

button:disabled:hover {
    opacity: 1 !important;
}

button:hover{
    opacity: 0.5;
}

.button{
    text-align: center;
}
.confirm-button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #33CC;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    padding: 5px 30px;
    border: none;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    cursor:pointer;
}

.errorMessages {
 	color: red;
 }

.select-content {
    margin-top: 20px;
    padding: 10px 40px;
}

.select-content select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.select-content button {
    background-color: #111;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 15px;
    font-size: 14px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 15px;
    font-size: 1.2em;
    background-color: #111;
    color: #fff;
    width: 100%;

}

.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3列に分割 */
    gap: 30px; /* 各アイテムの間隔 */
    padding: 20px;
    justify-items: center; /* 各カードを中央に */
}


.item-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 23%; /* 4列表示（100%÷4列=25%、gapを考慮） */
    min-width: 200px;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.item-card img {
    width: 150px;     /* 横幅を200pxに統一 */
    height: 150px;    /* 高さも統一 */
    object-fit: cover; /* トリミングして枠に収める */
    border-radius: 10px; /* 角丸にしたい場合 */
}

.cart-icon {
    margin-right: 20px;
}