<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script th:src="@{/js/style.js}" rel="scriptSheet"></script>
    <title>注文完了</title>
</head>
<header class="site-header-upper">
    <div class="cart-icon">
        <a href="/cart">
            <img src="/img/cart.png" alt="カート" width="30">
        </a>
    </div>

    <!-- 常駐用ロゴ -->
    <div class="logo-white">
        <a th:href="@{/top}" class="site-logo" onclick="resetAnim()">studio MKSG</a>
    </div>
</header>

<body>
<div class="main-contents">
    <div class="order-complete">
        <div class="complete-icon">✔</div>

        <h1 class="complete-title">Thank you!</h1>

        <p class="complete-message">
            ご注文ありがとうございます。<br>
            注文完了メールを送信しました。<br>
            2営業日以内に発送予定です。
        </p>
    <p class="back-to-top">
        <a class="btn" href="/top">商品一覧に戻る</a>
    </p>
    </div>
</div>
</body>
</html>