<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <link th:href="@{/css/salesManagement.css}" rel="stylesheet">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:src="@{/js/style.js}" rel="scriptSheet"></script>
    <title>管理画面</title>
</head>
<body class="sales-management-page">
<div class="header-contents">
    <h1> <a href="/salesManagementTop" class="logo-fixed">studio MKSG</a></h1>
    <h2>販売管理TOP</h2>
</div>
<div class="main-contents">
    <div class="sales-management-content">
        <!--商品情報登録画面遷移ボタン-->
        <a href="/itemRegister" class="new-item-link">
            <button type="button"><img src="/img/itemNew.png" alt="新規商品登録" class="new-item-button"></button>
        </a>
        <div class="item-content">
            <table class="sales-item-content-table">
                <thead>
                <tr class="sales-items-title">
                        <th class="sales-items-title-id">ID</th>
                        <th class="sales-items-title-image">写真</th>
                        <th class="sales-items-title-name">商品名</th>
                        <th class="sales-items-title-price">価格</th>
                        <th class="sales-items-title-stock">在庫数</th>
                        <th class="sales-items-title-category">カテゴリー</th>
                        <th class="sales-items-title-created-date">作成日時</th>
                        <th class="sales-items-title-updated-date">更新日時</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="salesItem :${salesItems}">
                    <td class="center-text id"><span th:text="${salesItem.id}"></span></td>
                    <td class="center-text image">
                        <img th:src="${salesItem.image}" alt="商品画像" class="item-image">
                    </td>
                    <td class="left-text name"><span th:text="${salesItem.name}"></span></td>
                    <td class="center-text price"><span th:text="${salesItem.price}"></span></td>
                    <td class="center-text stock"><span th:text="${salesItem.stock}"></span></td>
                    <td class="left-text category"><span th:text="${salesItem.category.category}"></span></td>
                    <td class="center-text created"><span th:text="${#dates.format(salesItem.createdDate, 'yyyy/MM/dd HH:mm:ss')}"/></td>
                    <td class="center-text updated"><span th:text="${#dates.format(salesItem.updatedDate, 'yyyy/MM/dd HH:mm:ss')}"/></td>
                </tr>
                </tbody>
                </table>
        </div>
    </div>
</div>
</body>
</html>