<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ショッピングカート</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/logo-animation.js}"></script>
</head>
<body>
<header class="site-header-upper">
      <div class="cart-icon">
        <a href="/cart">
          <img src="/img/cart.png" alt="カート" width="30">
        </a>
      </div>

      <!-- 常駐用ロゴ -->
      <div class="logo-white">
          <a th:href="@{/top}" class="site-logo" onclick="resetAnim()">studio MKSG</a>
      </div>
</header>

<main>
    <div class="cart-main">
    <h2>ショッピングカート</h2>

    <div th:if="${#lists.isEmpty(cart)}" class="errorMessages">
        <p>カートに商品がありません。</p>
    </div>

    <div th:if="${errorMessage}" class="errorMessages">
        <p th:text="${errorMessage}"></p>
    </div>
    <div th:if="${infoMessage}" class="infoMessages">
        <p th:text="${infoMessage}"></p>
    </div>

    <div class="item-list">
    <div th:each="item : ${cart}" class="item-detail">
        <img th:src="${item.image}" alt="商品画像" class="cart-item-img">
        <p th:text="${item.name}"></p>
        <p>価格: <span th:text="${item.price}"></span>円</p>

        <!-- 数量変更ボタン -->
        <div class="quantity-control">
            <form th:action="@{/cart/update}" method="post">
                <input type="hidden" name="id" th:value="${item.id}">
                <button type="submit" name="action" value="minus" class="button-updown">-</button>
            </form>

            <input type="text" th:value="${item.quantity}" readonly size="2" class="quantity-box">

            <form th:action="@{/cart/update}" method="post">
                <input type="hidden" name="id" th:value="${item.id}">
                <button type="submit" name="action" value="plus" class="button-updown"
                        th:disabled="${(item.quantity ?: 1) >= item.stock}">+</button>
            </form>
        </div>
            <p>小計: <span th:text="${item.subTotal}"></span>円</p>

            <!-- 削除ボタン -->
            <form th:action="@{/cart/remove}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${item.id}">
                <input type="image" src="/img/deleteBox.png" alt="削除" class="delete-button"/>
            </form>
    </div>
    </div>

    <hr>
        <div class="order-input-button" th:if="${cart != null and !cart.isEmpty()}">
    　　　　　<p>合計: <span th:text="${total}"></span>円</p>
            <p>
                <a href="/orderInput" class="btn">購入画面へ</a>
            </p>
        </div>
        <!--戻るボタン-->
        <a href="/top" class="back-button">
            <button type="button"><img src="/img/back.png" alt="← 商品一覧に戻る" class="back-button"></button>
        </a>
    </div>
</main>
</body>
</html>